
<div id="my-account" class="">
    <div class="left-column">
        <div class="item">
            <div class="main-user bubble_div">
                {#
                <div class="avatar">
                    TT
                </div>
                #}
                <div class="username">
                    {{ app.user.firstName }} {{ app.user.lastName }}
                </div>
                <div class="job_title">
                    {{ app.user.jobTitle }}
                </div>
            </div>

            <div class="menu">
                <div id="edit_profile" class="button_type2 selected">{{ 'profile.edit'|trans }}</div>
                {# <div class="button">Settings</div> #}
                {# <div id="change_pass" class="button_type2">{{ 'profile.changePass'|trans }}</div> #}
                <div class="button_secondary logout" id="logout">{{ 'profile.logout'|trans }}</div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="bubble_div" id="user_profile">
            <h2>{{ 'profile.edit'|trans }}</h2>

            <div class="input_line">
                <label for="user_email">{{ 'Email'|trans }}</label>
                <input type="email" value="{{ app.user.email }}" name="user_email" id="user_email" autocomplete="email" disabled required />
            </div>

            <div class="input_line">
                <label for="user_firstname">{{ 'firstName'|trans }}</label>
                <input type="text" value="{{ app.user.firstName }}" name="user_firstname" id="user_firstname" required />
            </div>

            <div class="input_line">
                <label for="user_lastname">{{ 'lastName'|trans }}</label>
                <input type="text" value="{{ app.user.lastName }}" name="user_lastname" id="user_lastname" required />
            </div>

            <div class="input_line">
                <label for="user_language">Language</label>
                <select name="user_language" id="user_language">
                    <option value="en" {% if app.user.language == 'en' %}selected{% endif %}>EN</option>
                    <option value="fr" {% if app.user.language == 'fr' %}selected{% endif %}>FR</option>
                </select>
            </div>

            <div class="input_line">
                <label for="user_jobTitle">{{ 'jobTitle'|trans }}</label>
                <input type="text" value="{{ app.user.jobTitle }}" name="user_jobTitle" id="user_jobTitle" required />
            </div>

            <div class="input_line">
                <label for="user_bio">{{ 'bio'|trans }}</label>
                <textarea name="user_bio" id="user_bio">{{ app.user.bio }}</textarea>
            </div>

            <div id="profile_edit_success" class="alert alert-success"></div>
            <div id="profile_edit_error" class="alert alert-error"></div>

            <div class="submit_button">
                <button id="edit_profile_save" class="submit" type="submit">
                    {{ 'profile.save'|trans }}
                </button>
            </div>
        </div>

        <div class="bubble_div" id="user_password">
            <h2>{{ 'profile.changePass'|trans }}</h2>

            <div class="input_line">
                <label for="user_current_password">{{ 'changePass.current'|trans }}</label>
                <input type="password" name="user_current_password" id="user_current_password" required />
            </div>

            <div class="input_line">
                <label for="user_new_password">{{ 'changePass.new'|trans }}</label>
                <input type="password" name="user_new_password" id="user_new_password" required />
            </div>

            <div class="input_line">
                <label for="user_confirm_password">{{ 'changePass.confirm'|trans }}</label>
                <input type="password" name="user_confirm_password" id="user_confirm_password" required />
            </div>

            <div id="pass_edit_success" class="alert alert-success"></div>
            <div id="pass_edit_error" class="alert alert-error"></div>

            <div class="submit_button">
                <button id="edit_pass_save" class="submit" type="submit">
                    {{ 'changePass.button'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
