{% extends 'base.html.twig' %}

{% block title %}{{ 'error.404.title'|trans }}{% endblock %}

{% block content_alone %}
    <div class="error-404">
        <h1>{{ 'error.404.header'|trans }}</h1>
        <p>{{ 'error.404.message'|trans }}</p>
        <p class="pcount">{{ 'error.404.redirect_message'|trans }} <span id="countdown">4</span> {{ 'error.404.seconds'|trans }}</p>
        <a href="/" class="btn-home">{{ 'error.404.go_home'|trans }}</a>
    </div>

    <script>
        let countdown = 5;
        const countdownElement = document.getElementById('countdown');

        const countdownTimer = setInterval(() => {
            countdown--;
            countdownElement.textContent = countdown;

            if (countdown <= 0) {
                clearInterval(countdownTimer);
                window.location.href = "/";
            }
        }, 1000);
    </script>
{% endblock %}