
{% extends 'base.html.twig' %}

{% block title %}{{ 'guest_forgot_title'|trans }}{% endblock %}

{% block styles %}
    {{ parent() }}
    {# {{ encore_entry_link_tags('styles_dev') }} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content_alone %}
<img src="{{ asset('build/images/era_800_png.png') }}" alt="Logo" title="Groupe Conseil ERA" id="logo" />

<a id="lang-switcher" href="/forgot-password{{ 'guest_switch_link'|trans }}">{{ 'guest_switch_label'|trans }}</a>

<div id="forgot" class="master_middle bubble_div">
    <h1>{{ 'guest_forgot_title'|trans }}</h1>

    {{ form_start(form) }}
        <div class="input_line">
            {{ form_row(form.email) }}
        </div>

        <button type="submit">{{ 'guest_forgot_button'|trans }}</button>
    {{ form_end(form) }}

    <br/><br/>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="login_options" style="padding-bottom: 0;">
        <a href="{{ path('app_login') }}{{ 'guest_switch_current'|trans }}">{{ 'guest_back_login'|trans }}</a>
    </div>

</div>
{% endblock %}
