{% extends 'base.html.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block styles %}
    {{ parent() }}
    {# {{ encore_entry_link_tags('styles_dev') }} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content_alone %}
<img src="{{ asset('build/images/era_800_png.png') }}" alt="Logo" title="Groupe Conseil ERA" id="logo" />

<a id="lang-switcher" href="/login{{ 'guest_switch_link'|trans }}">{{ 'guest_switch_label'|trans }}</a>

<div id="login" class="master_middle bubble_div">
    <form method="post" action="/login{{ 'guest_switch_current'|trans }}">

        <h1 class="h3 mb-3 font-weight-normal">
            <img src="{{ asset('build/images/agenthub_logo.png') }}" alt="Logo" title="Groupe Conseil ERA" />
            <br/>
            {{ 'guest_welcome'|trans}}
            <br/>
            <span class="color_accent_1">Agent</span>Hub
        </h1>

        {% if app.request.query.get('admin') %}
            <div class="input_line">
                <label for="username">{{ 'email'|trans}}</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="input_line">
                <label for="password">{{ 'password'|trans}}</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="login_options">
                <div class="forgot">
                    <a href="{{ path('app_forgot_password') }}{{ 'guest_switch_current'|trans }}">{{ 'guest_forgot_link'|trans}}</a>
                </div>
            </div>

            <button type="submit">
                {{ 'login'|trans }}
            </button>
        {% endif %}

        <br/>
        {% if error %}
            <br/>
            <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    </form>

    <div class="oauth-buttons">
        <a href="{{ path('connect_azure_start') }}" class="btn-microsoft">
            <i class="fab fa-microsoft"></i> {{'login_microsoft'|trans}}
        </a>
    </div>

</div>

{% endblock %}
