{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Agent Usage Statistics{% endblock %}
{% block content_title %}Agent Usage Statistics{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h2>Last 7 Days - Most Used Agents</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Agent</th>
                            <th>Code</th>
                            <th>Discussions</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agent in popularAgentsLastWeek %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ agent.name }}</td>
                                <td>{{ agent.code }}</td>
                                <td>{{ agent.discussionCount }}</td>
                                <td>{{ agent.messageCount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Last Month - Most Used Agents</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Agent</th>
                            <th>Code</th>
                            <th>Discussions</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agent in popularAgentsLastMonth %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ agent.name }}</td>
                                <td>{{ agent.code }}</td>
                                <td>{{ agent.discussionCount }}</td>
                                <td>{{ agent.messageCount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>All Time - Most Used Agents</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Agent</th>
                            <th>Code</th>
                            <th>Discussions</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agent in popularAgentsTotal %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ agent.name }}</td>
                                <td>{{ agent.code }}</td>
                                <td>{{ agent.discussionCount }}</td>
                                <td>{{ agent.messageCount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %} 