{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}User Activity Statistics{% endblock %}
{% block content_title %}User Activity Statistics{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h2>Last 7 Days - Most Active Users</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>Discussions</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in activeUsersLastWeek %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.discussionCount }}</td>
                                <td>{{ user.messageCount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Last Month - Most Active Users</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>Discussions</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in activeUsersLastMonth %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.discussionCount }}</td>
                                <td>{{ user.messageCount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>All Time - Most Active Users</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>Discussions</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in activeUsersTotal %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.discussionCount }}</td>
                                <td>{{ user.messageCount }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %} 